<section class="fdb-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-7 text-center">
                <h1>Dear Tech,</h1>

                <div class="spacer" style="height:30px;"></div>

                <p class="text-h3">
                    You have the potential to make a revolutionary human, societal and environmental
                    impact. This would not be a wanted side effect, but the legitimation of your
                    existence. You will always be a means to an end, but turns out you’re an
                    extremely powerful means, so we have to seriously think about the ends. Our
                    relationship should not be defined by profit or power, but by the common good.
                </p>

                <div class="spacer" style="height:30px;"></div>

                <p class="text-h3">
                    We feel responsible for the impact you will have on mankind, earth and society.
                    Not only do we want to avoid apocalyptic scenarios, we want to push towards the
                    world-improving potential of all the new solutions that are being developed. Not
                    bad is not good enough. We believe that the digital revolution, if done right,
                    has the potential of making us more human than before. Technology, you are here
                    to serve us.
                </p>
            </div>
        </div>
    </div>
</section>